@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

a.active hr{
  display: block;
} 

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
    a.active {
        background-color: #693300;
        background-color: #000000;
        color: #fff;
    }
}

::-webkit-scrollbar {
  display: none;
}

.shadow-2xl {
  --tw-shadow: 1px 1px 20px  var(--tw-shadow-color, rgb(0 0 0 / 0.25));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.center{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}